body {
    font-family:'Courier New', Courier, monospace;
    background: lightcoral;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    margin: auto;
}

.btnContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 50px;
    margin: auto;
    padding-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultsDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}