body {
    font-family:'Courier New', Courier, monospace;
    background: lightcoral;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
    margin: auto;
}

.btnContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    gap: 50px;
    margin: auto;
    padding-bottom: 30px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resultsDisplay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.scoreTally {
    font-weight: 700;
}

.pointCounter {
    font-style: italic;
    text-align: center;
}

.selections {
    text-align: center;
}

button {
    border-radius: 7%;
    border-style: solid;
    border-color: black;
    background-color: white;
}

img {
    max-width: 150px;
    height: auto;
    border-radius: 7%;
}